<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}
  <div class="scroll-progress"></div>

  {{- $isDocsPage := strings.HasPrefix .RelPermalink "/docs/" }}
  <div class="site-wrapper{{ if .IsHome }} home-layout{{ end }}">
    {{ if $isDocsPage }}
      {{ partial "sidebar.html" . }}
    {{ end }}

    <main class="main-content">
      {{ block "main" . }}{{ end }}
    </main>
  </div>

  {{ partial "footer.html" . }}

  {{ partial "search_modal.html" . }}
  {{ partial "jsonld-faq.html" . }}

  {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
  {{- $searchModal := resources.Get "js/search-modal.js" | js.Build (dict "params" (dict "fuseOpts" site.Params.fuseOpts "searchIndexURL" ("index.json" | relURL))) | resources.Minify }}
  {{- $searchBundle := (slice (resources.Get "js/fuse.basic.min.js") $searchModal) | resources.Concat "js/search-bundle.js" | fingerprint }}
  <script defer src="{{ $searchBundle.RelPermalink }}" integrity="{{ $searchBundle.Data.Integrity }}"></script>
  {{- if strings.HasPrefix .RelPermalink "/docs/lumen-ui/" }}
  {{- $mockups := resources.Get "js/lumen-mockups.js" | resources.Minify | fingerprint }}
  <script defer src="{{ $mockups.RelPermalink }}" integrity="{{ $mockups.Data.Integrity }}"></script>
  {{- end }}
</body>
</html>
